<div class="todo-add-main" *ngIf="show">
        <div class="todo-add-overlay"></div>


        <div class="todo-add-modal">
            
            <div class="todo-add-modal-header">
            <h1 class="todo-add-modal-title">Add Task</h1>
            


            {{task | json}}
            

            <button type="button" (click)="closeAddModal()">
                <span></span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
            </button>
            
            </div>


            <div class="todo-add-modal-content">

            <div class="todo-add-modal-tasklist">
            <button type="button" *ngFor="let type of taskTypes;" class="todo-add-modal-task" [ngStyle]="{'backgroundColor':this.task.id==type?.id?'#000':type?.color,color:'white',border:this.task.id==type?.id?'2px solid #94a3b8':'2px solid white',boxShadow:this.task.id==type?.id?'2px 1px #000':'none'}" (click)="onTaskTypeClick(type)" >
                    <span>{{type.name}}</span>
                    <img src="/src/assets/icons/work.svg" />
            </button>


        </div>

        <form class="todo-add-modal-form" (submit)="onTaskSave($event)">

            <div class="todo-add-modal-form-control">
                    <span class="todo-add-modal-form-label">Task Name</span>
                    <input type="text" class="todo-add-modal-form-input"  [(ngModel)]="task.title" name="taskName" (change)="onChangeName($event)"/>
                </div>

                <div class="todo-add-modal-form-control">
                    <span class="todo-add-modal-form-label" >Task Description</span>
                    <textarea rows="8" class="todo-add-modal-form-input"   [(ngModel)]="task.description" name="taskDescription" (change)="onChangeDescription($event)" resize="none"></textarea>
                </div>
            

                <div class="todo-add-modal-form-control">
                    <span class="todo-add-modal-form-label">Task Start</span>
                    <div [ngStyle]="{'display':'flex','gap':'0px 15px'}">
                    <input type="date" class="todo-add-modal-form-input" [(ngModel)]="task.date" name="taskDate" (change)="onChangeDate($event)"/>
                    <input type="time" class="todo-add-modal-form-input" [(ngModel)]="task.time" name="taskTime" (change)="onChangeTime($event)"/>

                </div>


                </div>
            

                <button type="submit" id="todo-add-modal-form-submit">
                    <span>Save</span>
                </button>

        </form>



        </div>


        </div>
</div>